//
/* Typography & Vertical Rythm
//
*/


// Typography Variables
//
$base-font-size: 16px;
$base-line-height: 1.5;
$base-vertical-space: 2.5rem;
$base-pad-right: 5%;


// Base Typography Styles
//

h1, h2, h3, h4, h5, h6 {
  @include futuraRegular;
  margin-top: $base-vertical-space / 3;
  margin-bottom: $base-vertical-space / 3;
}

h1 {
  color: $bgreen;
  font-size: $base-font-size * 3;
  @include upperCase;
}

h2 {
  font-size: $base-font-size * 2.25;

  &.onboard-welcome,
  .onboard-welcome {
    color: $blue4;
    font-size: $base-font-size * 3;
    @include futuraLight;
  }

  &.onboard-tasks,
  .onboard-tasks {
    color: $bgreen;
  }

  &.onboard,
  .onboard {
    color: $blue4;
  }

  &.welcome-text,
  .welcome-text {
    color: $blue4;
    font-size: $base-font-size * 1.75;
    @include futuraLight;
  }
}

h3 {
  font-size: $base-font-size * 1.5;

  &.scan-text,
  .scan-text {
    color: $bgreen;
    @include upperCase;
  }
}

.content {
  h3 {
    @include upperCase;
    @include futuraBold;
    font-size: $base-font-size * 0.8125;
    color: $grey2;
  }

  .alert h3 {
    color: $red1;
  }
}

h4 {
  font-size: $base-font-size * 0.75;
  @include futuraBold;

  &.day,
  .day {
    color: $grey2;
  }
}

h5 {
  color: $dark4;
}

.content h5,
.line-chart-wrap h5 {
  @include futuraLight;
  @include upperCase;
  font-size: $base-font-size * 0.75;
}

p, ol, ul, dl, blockquote {
  font-size: $base-font-size *  0.875;
  padding-right: $base-pad-right;
  @include futuraRegular;
}

p {
  line-height: 2.15;
  color: $mid2;

  &.chart_num {
    @include futuraLight;
    font-style: italic;
    color: $grey2;
    font-size: $base-font-size *  3;
  }

  &.chart_name {
    @include futuraBold;
    @include upperCase;
    font-size: $base-font-size *  0.875;
  }

  &.date {
    @include futuraLight;
    font-style: italic;
    color: $grey2;
    font-size: $base-font-size *  0.875;
  }
}

ol, ul {
  margin-left: 1.8rem;
  margin-bottom: $base-vertical-space;

  li {
    margin-bottom: 0.5em;
  }
}

a {
  color: $blue2;
}

.text-green {
  color: $egreen;
}

.text-yellow {
  color: $eyellow;
}

.text-red {
  color: $ered;
}

.text-upper {
  @include upperCase;
}

.light-text {
  @include futuraLight;
  letter-spacing: 0.07em;
}

.regular-text {
  @include futuraRegular;
}

strong,
.bold-text {
  @include futuraBold;
}
