/* Barricade Styleguide */
//
// Variables
//
// 1. Colours
// 2. Setup Fonts
// 3. CSS3 & Vendor Prefixes


// 1.
// Barricade Colours
//
// Primary Green
$green1: #66b6ab;
$green2: #7ab3aa;
$green3: #079493;
$green4: #06807f;

// Secondary Palette
$yellow1: #ced001;
$yellow2: #dad338;
$yellow3: #bada55;

$red1: #ff1b51;
$red2: #fd4772;
$red3: #b81038;

$blue1: #2fb6c6;
$blue2: #008cba;
$blue3: #a3beca;
$blue4: #34495e;

// Shading
$grey1: #ccc;
$grey2: #999;
$grey3: #666;
$grey4: #333333;

$light1: #f4f5f8;
$light2: #ecedf3;
$light3: #dfdfdf;

$mid1: #bbbcc7;
$mid2: #4c4f4f;
$mid3: #969ca3;
$mid4: #95a5a6;
$mid5: #7c939d;
$mid6: #7f8c8d;
$mid7: #818395;

$dark1: #566c70;
$dark2: #2d4a50;
$dark3: #323f4c;
$dark4: #203539;
$dark5: darken($dark4, 7.5%);

// Palette Uses:
//
// Branding
$bgreen: $green3;
$bslate: $dark3;
$bblack: $dark4;
$byellow: $yellow1;
$bred: $red1;

// Events, Incidents, Alerts
$egreen: $green1;
$eyellow: $yellow1;
$ered: $red1;


// 2.
// Barricade Fonts
//

$base: Futura, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Lucida Console', 'Courier New', monaco, monospace;

@mixin futuraLight {
  font-family: 'futura-pt', 'futura-light' $base;
  font-weight: 300;
  letter-spacing: 0.035em;
  -webkit-font-smoothing: antialiased;
}

@mixin futuraRegular {
  font-family: 'futura-pt', 'futura-regular' $base;
  font-weight: 400;
  letter-spacing: 0.035em;
  -webkit-font-smoothing: antialiased;
}

@mixin futuraBold {
  font-family: 'futura-pt', 'futura-bold' $base;
  font-weight: 700;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
}

@mixin upperCase {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

@mixin normCase {
  text-transform: none;
  letter-spacing: 0.035em;
}


// 3.
// Load CSS & Vendor Prefixes
//
// via Compass
// https://github.com/gruntjs/grunt-contrib-compass
//
@import "compass/css3";

