<div class="row full-width styleguide">

  <div class="large-2 medium-2 columns">
    <div class="hide-for-small">
      <div class="sidebar">

        <h1>
          <a href="index.html" title="Barricade Styleguide">
            <span>Barricade</span>
            <img src="img/sidebar-wordmark-white.png">
          </a>
        </h1>

        <nav>
          <ul class="side-nav">
            <li class="heading"><a href="index.html">Intro</a>
              <ul>
                <li><a href="index.html#ethos">Welcome</a></li>
                <li><a href="index.html#ethos">Ethos</a></li>
              </ul>
            </li>

            <li class="heading"><a href="styles.html">Styles</a>
              <ul>
                <li><a href="styles.html#colors">Colors</a></li>
                <li><a href="styles.html#typography">Typography</a></li>
                <li><a href="styles.html#icons">Icons</a></li>
                <li><a href="styles.html#uielements">UI Elements</a></li>
                <li><a href="styles.html#charts">Charts</a></li>
              </ul>
            </li>

            <li class="heading active"><a href="assets.html">Assets</a>
              <ul>
                <li><a href="assets.html#brandelements">Brand Elements</a></li>
                <li><a href="assets.html#imagery">Imagery</a></li>
              </ul>
            </li>

            <li class="heading"><a href="voice.html">Voice &amp; Tone</a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

  <div class="large-10 medium-10 columns">
    <div class="row">
      <div class="large-10 large-centered medium-10 medium-centered small-10 small-centered column">
        <h1 class="jumbotron">Assets</h1>

        <h3 id="brandelements">Press Kit</h3>

        <div class="row">
          <div class="small-10 columns">
            <p>Click below to download a brand assets pack. Included are logos, branding, imagery & product shots.</p>

            <p>
              <a href="http://barricade.io/public/BarricadeBrand.zip" class="button secondary small">Download</a>
            </p>
          </div>

          <div class="small-2 columns">
            <img src="http://barricade.io/img/brand-assets.png">
          </div>
        </div>

        <p>&nbsp;</p>

        <h3 id="imagery">Imagery</h3>

        <p><a href="img/green-background.jpg" target="_blank">Barricade Wallpaper <i class="fa fa-external-link fa-1x"></i></a></p>

        <a href="img/green-background.jpg" target="_blank"><img src="img/green-background.jpg"></a>

        <div class="btn-row">
          <a href="styles.html" class="button secondary small left">Prev: Styles</a>
          <a href="voice.html" class="button small right">Next: Voice &amp; Tone</a>
        </div>

      </div>
    </div>
  </div>

</div>
