<div class="row full-width styleguide">

  <div class="large-2 medium-2 columns">
    <div class="hide-for-small">
      <div class="sidebar">

        <h1>
          <a href="index.html" title="Barricade Styleguide">
            <span>Barricade</span>
            <img src="img/sidebar-wordmark-white.png">
          </a>
        </h1>

        <nav>
          <ul class="side-nav">
            <li class="heading"><a href="index.html">Intro</a>
              <ul>
                <li><a href="index.html#outline">Outline</a></li>
                <li><a href="index.html#vision">Vision</a></li>
              </ul>
            </li>

            <li class="heading"><a href="styles.html">Styles</a>
              <ul>
                <li><a href="styles.html#colors">Colors</a></li>
                <li><a href="styles.html#typography">Typography</a></li>
                <li><a href="styles.html#uielements">UI Elements</a></li>
                <li><a href="styles.html#icons">Icons</a></li>
                <!-- <li><a href="styles.html#charts">Charts</a></li> -->
              </ul>
            </li>

            <li class="heading"><a href="assets.html">Assets</a>
              <ul>
                <li><a href="assets.html#brandelements">Brand Elements</a></li>
                <li><a href="assets.html#imagery">Imagery</a></li>
              </ul>
            </li>

            <li class="heading active"><a href="voice.html">Voice &amp; Tone</a></li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

  <div class="large-10 medium-10 columns">
    <div class="row">
      <div class="large-10 large-centered medium-10 medium-centered small-10 small-centered column">
        <h1 class="jumbotron">Voice &amp; Tone</h1>
        <!--<h3>Writing to our users, not at them.</h3>-->

        <p><em>Coming soon...</em></p>

        <div class="btn-row">
          <a href="assets.html" class="button secondary small left">Prev: Assets</a>
        </div>
      </div>
    </div>
  </div>

</div>
